<app-menu></app-menu>
<main>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-9 mx-auto">
                <button class="btn btn btn-block text-start text-success" (click)="volver()">
                    <span class="fs-2 align-middle"><i class="fas fa-arrow-circle-left"></i></span> Volver</button>
            </div>
            <div class="col-md-8 mx-auto">
                <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="nombre">Nombre</label>
                            <input type="text" class="form-control" id="nombre" name="nombre"
                                [(ngModel)]="marca.nombre" required>
                        </div>
                    </div>
                    <button class="mt-2 btn btn-outline-success btn-block" [disabled]="!f.valid">Registrar Marca</button>
                </form>
            </div>
        </div>
    </div>
</main>