<app-menu></app-menu>

<div class="text-center" *ngIf="isLogged; else loggedOut">
	<h2>Ya has iniciado sesión</h2>
</div>

<ng-template #loggedOut>
	<main class="text-center">
		<div class="container justify-content-center">
			<div class="form-signup">

				<h1 class="h3 mb-1 fw-normal disable-select">
					<img class="mb-3" src="assets/images/leaf-1.svg" alt="" width="72" height="57">
					Formulario de registro
				</h1>

				<div class="signup-form">
					<form #f="ngForm" (ngSubmit)="onRegister()" novalidate>
						<div class="container align-items-left text-start">
							<div class="row mb-1 g-2">
								<div class="col-md-8">
									<label for="email">Correo electrónico</label>
									<input type="email" name="email" id="email" class="form-control" 
										[(ngModel)]="email" required>
								</div>
								<div class="col-md-4">
									<label for="celular">Celular</label>
									<input type="text" name="celular" id="celular" class="form-control" 
										[(ngModel)]="celular" required>
								</div>
							</div>
							<div class="row mb-1 g-2">
								<div class="col-md-6">
									<label for="nombres">Nombres</label>
									<input type="text" name="nombres" id="nombres" class="form-control"
										[(ngModel)]="nombres" required>
								</div>
								<div class="col-md-6">
									<label for="apellidos">Apellidos</label>
									<input type="text" name="apellidos" id="apellidos" class="form-control"
										[(ngModel)]="apellidos" required>
								</div>
							</div>
							
							<div class="row mb-1 g-2">
								<div class="col-md-6">
									<label for="username">Nombre de usuario</label>
									<input type="text" name="username" id="username" class="form-control"
										[(ngModel)]="username" required>
								</div>
								<div class="col-md-6">
									<label for="password">Contraseña</label>
									<input type="password" name="password" id="password" class="form-control"
										[(ngModel)]="password" required>
								</div>
							</div>
							
						</div>

						<button class="w-50 btn btn-success btn-lg btn-block mt-2" [disabled]="!f.valid">Registrar
							Ahora</button>
					</form>
				</div>
				<p class="mt-3 mb-3 text-muted disable-select">&copy;VitaMarket 2021</p>
			</div>
		</div>
	</main>
</ng-template>